<!doctype html>
<html>
<head>
    <title>AI Resume Analyzer</title>
</head>
<body bgcolor="pink" leftmargin="200px">

    <h1>Upload Your Resume</h1>
  
    <p align= "center">
    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" accept=".pdf">
        <br>
        <hr width = "78%">
        <button type="submit">Analyze Resume</button>

    </form>
  </p>
  <img src = "templates\astha.png" width = "200px" height = "200px" align = "right">
</body>
</html>